:root {
    --primary-color: #3A4F7A;    /* Navbar y Footer */
    --secondary-color: #218B9A;  /* Fondo del cuerpo y Hero */
    --text-light: #ffffff;
    --text-dark: #1C1C1C;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: var(--primary-color);
  }
  
  .navbar {
    background-color: var(--primary-color);
  }
  
  .navbar-brand {
    color: var(--text-light) !important;
    font-weight: 600;
  }
  
  .hero {
    text-align: center;
    padding: 80px 20px;
    background-color: var(--secondary-color);
    color: var(--text-light);
  }
  
  main {
    flex: 1;
  }
  
  footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 15px;
  }
  
  .custom-article {
    width: 18rem; /* 72 en Tailwind es 18rem */
    background-color: #4B5563; /* bg-gray-700 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem; /* p-4 */
    border-radius: 0.375rem; /* rounded-md */
    transition: transform 0.3s; /* duration-300 */
}

.custom-article:hover {
    transform: translateY(-0.5rem); /* hover:-translate-y-2 */
}

.custom-icon {
    width: 2.5rem; /* w-10 */
    height: 2.5rem; /* h-10 */
    color: #D1D5DB; /* text-gray-300 */
    background-color: #4B5563; /* bg-gray-600 */
    border-radius: 9999px; /* rounded-full */
    padding: 0.25rem; /* p-1 */
}

.custom-text {
    font-size: 0.875rem; /* text-sm */
    color: #9CA3AF; /* text-gray-400 */
    width: 100%; /* w-full */
}